<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    
    <!-- Import styles custom -->
	<link th:href="@{/style/utilities.css}" rel="stylesheet" media="screen"/>
    
    <!-- Import Bootstrap -->
    <link th:href="@{/package/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/package/jquery/jquery.min.js}"></script>  
    <script th:src="@{/package/popper/popper.min.js}"></script>  
    <script th:src="@{/package/bootstrap/js/bootstrap.min.js}"></script>  
</head>
<body class="d-flex justify-content-center">
	<div class="container mx-5 mt-3">
		<div class="row">
			<div class="col">
				<h1 class="mb-5">Liste des taches de <span th:text="${user.login}"></span></h1>
			</div>
			<div class="col-auto">
				<form method="post" th:action="@{/logout}">
					<button type="submit" class="btn btn-outline-primary">Déconnextion</button>
				</form>
			</div>
		</div>
		
		<div class="container mb-3">
			<a class="btn btn-secondary mb-2" data-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
			    Filtres avancés
			</a>
			<div class="collapse" id="collapseFilter" th:classappend="${param.query_active} != null ? show">
				<div class="card card-body">
					<form method="get" th:action="@{/list}">
						<input type="hidden" name="query_active"/>
						<div class="form-group">
							<label for="queryTitre">Titre : </label>
							<input type="text" class="form-control" id="queryTitre" name="query" th:value="${param.query}">
						</div>
						<div class="form-row">
							<div class="form-group col-6">
								<label for="queryBegin">Date de début : </label>
								<input type="date" class="form-control" id="queryBegin" name="begin" th:value="${param.begin}">
							</div>
							<div class="form-group col-6">
								<label for="queryEnd">Date de fin : </label>
								<input type="date" class="form-control" id="queryEnd" name="end" th:value="${param.end}">
							</div>
						</div>
						<div class="form-row">
				            <div class="form-group col-6">
				            	
				            	<label for="queryTags">Tags : </label>
			                    <select class="custom-select form-control" id="queryTags" multiple="multiple" name="qtags">
								        <option th:each="tag : ${tags}" 
								                th:value="${tag.id_tag}" 
								                th:text="${tag.title}"
								                th:selected="${param.qtags != null ? #arrays.contains(param.qtags, ''+tag.id_tag) : false}">                    
								        </option>
								</select>
				            </div>
				        </div>
						<div class="form-group mb-0">
							<button type="submit" class="btn btn-primary">Rechercher</button>
							<a class="btn btn-secondary" th:href="@{__${#httpServletRequest.requestURI}__}">Vider</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<table class="table">
			<tr th:each="task : ${tasks}" class="row align-item-center" th:classappend="${task.done} ? table-primary">
				<td class="col-auto d-flex align-items-center">
					<form method="post" th:action="@{/process_switch_done(id=${task.id_task})}">
						<input type="checkbox" th:checked="${task.done}" onChange="this.form.submit()">
					</form>
				</td>
				<td class="col d-flex align-items-center">
					<p th:text="${task.title}" class="mb-0" th:classappend="${task.done} ? text-line"></p>
				</td>
				<td class="col-2">
					<span class="badge badge-pill badge-secondary mr-1" th:each="tag : ${task.tags}" th:text="${tag.title}"></span>
				</td>
				<td class="col-2 d-flex align-items-center">
					<p th:if="${task.planned_close_date} != null" class="mb-0">A finir avant le : <span th:text="${#dates.format(task.planned_close_date, 'dd/MM/yyyy')}"></span></p>
				</td>
				<td class="col-2 d-flex align-items-center">
					<p th:if="!${task.done}" class="mb-0">Modifié le :<br /><span th:text="${#dates.format(task.last_change, 'dd/MM/yyyy')}"></span></p>
					<p th:if="${task.done}" class="mb-0">Fini le :<br /><span th:text="${#dates.format(task.close_date, 'dd/MM/yyyy')}"></span></p>
				</td>
				<td class="col-auto d-flex align-items-center">
					<a class="btn btn-primary" th:href="@{/update-task(id=${task.id_task})}">Modifier</a>
				</td>
			</tr>
		</table>
		
		<div class="row flex-row-reverse">
			<div class="col-auto">
				<a class="btn btn-outline-secondary" th:href="@{/create-task}">Ajouter une tache</a>
			</div>
		</div>
	</div>
</body>
</html>